DB_PASSWORD=1324

# 🔐 SÉCURITÉ JWT (À modifier en production)
JWT_SECRET=GigaTechTeam_Super_Secret_Key_Example_123!

# 📧 API BREVO (Mails)
BREVO_API_KEY=xkeysib-ta-cle-api-brevo-ici
BREVO_SENDER_EMAIL=support@tondomaine.com
BREVO_SENDER_NAME=Support Dev

# 🌐 URL DU FRONTEND 
FRONTEND_URL=http://localhost:5173